<section class="container mx-auto px-6 py-9 3xl:py-20 3xl:px-32">
    <div class="mb-6 lg:mb-9 lg:flex lg:justify-between">
        <h2 class="font-source-serif-pro font-bold text-primary text-[28px] leading-[35px] tracking-[-0.01em] text-center lg:font-black lg:text-[40px] lg:leading-none lg:flex lg:items-center">{{ section.settings.title }}</h2>
        <a href="{{ section.settings.collection.url }}" class="tw-hidden font-poppins font-semibold text-secondary text-[14px] leading-[1.4] tracking-[0.03em] text-center lg:flex lg:px-8 lg:py-4">
            {{- section.settings.link_label_text -}}
            {% render 'icon-arrow-right' class: "ml-2"%}
        </a>
    </div>

    <scrollbar-carousel id="scrollbar-carousel-{{ section.id }}" class="block w-full mx-auto"
        {% if section.settings.overflow_effect == true %} data-overflow-effect {% endif %}
        data-mobile-limit="{{ section.settings.mobile_products_limit }}"
        data-mobile-load-more-qty="{{ section.settings.load_more_products_qty }}"
        data-products-per-row="{{ section.settings.products_per_row }}"
        data-desktop-gap="{{ section.settings.gap }}"
        data-max-width="{{ section.settings.max_width }}"
    >
        <div class="relative">
            <div class="overflow-x-auto">
                <ul data-carousel-container class="grid grid-cols-2 gap-3 lg:flex lg:overflow-x-hidden lg:flex-row lg:pb-[52px]">
                    {% for product in section.settings.collection.products limit: section.settings.products_limit %}
                        <li data-card class="{% if forloop.index > section.settings.mobile_products_limit %}hidden{% endif %}">
                            {% render 'platter-product-card', product: product %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="text-center mt-6 lg:hidden">
            <button data-load-more class="w-full max-w-sm bg-tertiary px-6 py-4 rounded-[100px] font-poppins font-semibold text-base text-[#FFFFFA] tracking-wide text-center">Load More</button>
        </div>
    </scrollbar-carousel>

    <fake-scroll-bar class="tw-hidden lg:inline" data-target="[data-carousel-container]"></fake-scroll-bar>

    {% style %}
        #scrollbar-carousel-{{ section.id }} {
            max-width: {{ section.settings.max_width }}px;
        }
        #scrollbar-carousel-{{ section.id }} ul {
            gap: {{ section.settings.mobile_gap }}px;
        }
        @media screen and (min-width: 1024px) {
            #scrollbar-carousel-{{ section.id }} ul {
                gap: {{ section.settings.gap }}px;
            }
            {% if section.settings.overflow_effect == true %}
                [data-overflow-effect] {
                    --gutter: calc((100vw - 100%) / 2 - 5px);
                    width: calc(100% + var(--gutter)); 
                    -webkit-overflow-scrolling: touch;
                }
            {% endif %}
        }
    {% endstyle %}
</section>

{% schema %}
{
  "name": "Best Sellers",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Best Sellers"
    },
    {
        "type": "text",
        "id": "link_label_text",
        "label": "Link label text",
        "default": "Shop All Best Sellers"
    },
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    },
    {
        "type": "range",
        "id": "products_limit",
        "label": "Product Limit",
        "info": "Number of items to display",
        "min": 4,
        "max": 50,
        "step": 1,
        "default": 20
    },
    {
        "type": "range",
        "id": "max_width",
        "label": "Max container width (px)",
        "min": 1000,
        "max": 2000,
        "step": 100,
        "default": 1400,
        "visible_if": "{{ section.settings.overflow_effect == false }}"
    },
    {
        "type": "header",
        "content": "Mobile"
    },
    {
        "type": "range",
        "id": "mobile_products_limit",
        "label": "Products to show on mobile (initially)",
        "min": 2,
        "max": 10,
        "step": 2,
        "default": 4
    },
    {
        "type": "range",
        "id": "load_more_products_qty",
        "label": "Products to load on 'Load more' click",
        "min": 2,
        "max": 12,
        "step": 2,
        "default": 6
    },
    {
        "type": "range",
        "id": "mobile_gap",
        "label": "Spacing between cards (px)",
        "min": 10,
        "max": 50,
        "step": 2,
        "default": 12
    },
    {
        "type": "header",
        "content": "Desktop"
    },
    {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row (visible)",
        "min": 3,
        "max": 8,
        "step": 0.1,
        "default": 5.8
    },
    {
        "type": "range",
        "id": "gap",
        "label": "Spacing between cards (px)",
        "min": 10,
        "max": 50,
        "step": 5,
        "default": 25
    },
    {
        "type": "checkbox",
        "id": "overflow_effect",
        "label": "Enable overflow effect",
        "info": "Expand carousel to viewport edge (breakout to the right side)",
        "default": true
    }
  ],
  "presets": [
    {
      "name": "Best Sellers"
    }
  ]
}
{% endschema %}